<div id="facture" style="text-align: left">
    <h1> Obtenir la facture d'un animal</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Erreur!
    </div>
      <mat-form-field style="list-style: none;" style="align-items: center;">
        <label>la cle primaire de l'animal dont vous souhaiter obtenir la facture :</label> 
         <mat-select class="form-control col-md-4" #animalNo>
           <mat-option *ngFor="let animal of animals">{{animal.numero}}</mat-option>
         </mat-select>
         <label> cle primaire de la clinique de l'animal :</label>
         <mat-select class="form-control col-md-4" #proprietaireNo>
           <mat-option *ngFor="let clinique of cliniques"> {{clinique.numero}} </mat-option>
         </mat-select>
        </mat-form-field>
     <div style="align-items:center;" #infoTraitements></div>
    </div>
    
  