<div id="supression" style="text-align: left">
    <h1> Supprimer un animal</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Erreur!
    </div>
      <ul style="list-style: none;">
        Entrer la cle primaire de l'animal dont vous souhaiter avoir la facture :
         <li><input class="form-control col-md-4" #animalNo ></li>
         Entrer la cle primaire du proprietaire de l'animal dont vous souhaiter avoir la facture :
         <li><input class="form-control col-md-4" #proprietaireNo ></li>
      </ul>
     <div style="align-items: center" #infoTraitements></div>
    </div>
    
  