<div id="facture" style="text-align: left">
    <h1> Obtenir la facture d'un animal</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Erreur!
    </div>
      <mat-form-field>
          <label> cle primaire animal</label>
         <mat-select #animalNo>
           <mat-option *ngFor="let animal of animals">{{animal.numero}}</mat-option>
         </mat-select>
         <label> cle primaire clinique :</label>
         <mat-select #proprietaireNo>
           <mat-option *ngFor="let clinique of cliniques" > {{clinique.numero}} </mat-option>
         </mat-select>
        </mat-form-field>
    <!-- <div style="align-items:center;" #infoTraitements>
        <table id ="ht" align="center" border="1" width="350">
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let treatment of treatments">
                <td> {{treatment.numero}}</td>
                <td> {{treatment.proprietaireNumero}}</td>
                <td> {{treatment.cliniqueNumero}}</td>
                <td> {{treatment.nom}}</td>
                <td> {{treatment.type}}</td>
                <td> {{treatment.description}}</td>
                <td> {{treatment.etatActual}}</td>
                <td> {{treatment.dateNaissance}}</td>
                <td> {{treatment.dateInscription}}</td>
              </tr>
            </tbody>
          </table>
        </div>-->
  </div>
    
  