.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .cardListItem {
    flex: 0 1 calc(33.3% - 32px);
  }

  @media screen and (max-width: 959px) {
    /* Column Gap */
    .cardList > *:not(:last-child) {
      margin-right: 32px;
    }
    /* Item sizing */
    .cardListItem {
      flex: 0 1 calc(50% - 32px);
    }
  }
  @media screen and (max-width: 599px) {
    .cardList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .cardList > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 32px;
    }
  }

input {
  margin-left: 40%;
}

button {
  background-color: #B1BDCE;
  width: 150px;
  margin-top: 5px;
}

button:hover {
  background-color: #808A99;
}

th {
  width: 110px;
  text-align: center;
  border: none;
}

thead {
  font-weight: 800;
  font-size: 20px;
  border: none;
}

td {
  border: none;
}

tr {
  border-bottom: 1px solid #ccc;
  }