input {
  margin-left: 40%;
}

button {
  background-color: #3BA99C;
  width: 150px;
  margin-top: 5px;
  color: white;
  font-family: 'Nunito', sans-serif;
  border-style: none !important;
  border-radius: 5px;
}

button:hover {
  background-color: #21897E;
}

th {
  text-align: center;
  border: none;
}

thead {
  font-size: 90%;
  color: #6153CC;
}

td {
  border: none;
}

tr {
  border-bottom: 1px solid #21897E;
}

table {
  /* background-color: #6153CC; */
  border-radius: 10px;
  margin-top: 3%;
}

#animal {
  top: 10%;
  left: 40%;
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-size: 80%;
}


#success {
  border: 1px solid #ED0004;
  background-color: #DD0001;
  color: black;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  top: 0px;
  left: 30%;
  width: 20%;
  text-align: center;
  padding-left: 0%;
  margin-top: 20%;
  display: none;
}

.choice {
  background-color: #8B0000;
  margin-bottom: 5px;
}

.choice:hover {
  background-color: #9E0000;
}