<div id="animal">
<input [(ngModel)]="searchName" type="text" id="input" (change)="search()"><button mat-raised-button >Rechercher</button><br>


<div id="success">
    <p>Etes-vous certain de vouloir supprimer cet animal?</p>
    <p>Cette operation ne peut etre defaite</p> 
    <button class="choice" (click)="no()">Non, je souhaite garder cet animal</button>
    <button class="choice" (click)="yes()">Oui, je souhaite supprimer definivement cet animal</button>
</div>

  <table id ="ht" width="900">
      <thead>
        <tr>
        <td id="numero">Numero</td>
        <td id="proprio">Proprietaire</td>
        <td id="clinique">Clinique</td>
        <td id="nom">Nom</td>
        <td id="type">Type</td>
        <td id="description">Description</td>
        <td id="etat">Etat actuel</td>
        <td id="dateNaissance" >Date de naissance</td>
        <td id="dateInscription" >Date d'inscription</td>
        <td id="option">Options</td>
      </tr>
      </thead>
      <tbody >
        <tr *ngFor = "let animal of animals">
            <td (click)=reacheminementTraitement(animal)> {{animal.numero}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.proprietaireNumero}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.cliniqueNumero}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.nom}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.type}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.description}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.etatActuel}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.dateNaissance}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.dateInscription}}</td>
            <button class="{{animal.numero}}" (click)="modifyAnimal(animal)">Modifier</button>
            <button class="{{animal.numero}}" (click)="removeAnimal(animal)">Supprimer</button>
        </tr>
      </tbody>
  </table>
</div>