<input [(ngModel)]="searchName" type="text" id="input"><button mat-raised-button (click)="search()">Rechercher</button><br>

  <table id ="ht" align="center" border="1" width="1100">
      <thead>
        <tr>
        <td id="numero">Numero</td>
        <td id="proprio">Proprietaire</td>
        <td id="clinique">Clinique</td>
        <td id="nom">Nom</td>
        <td id="type">Type</td>
        <td id="description">Description</td>
        <td id="etat">Etat actuel</td>
        <td id="dateNaissance" >Date de naissance</td>
        <td id="dateInscription" >Date d'inscription</td>
        <td id="option">Options</td>
      </tr>
      </thead>
      <tbody >
        <tr *ngFor = "let animal of animals">
            <td (click)=reacheminementTraitement(animal)> {{animal.numero}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.proprietaireNumero}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.cliniqueNumero}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.nom}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.type}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.description}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.etatActuel}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.dateNaissance}}</td>
            <td (click)=reacheminementTraitement(animal)> {{animal.dateInscription}}</td>
            <button class="{{animal.numero}}" type="button" mat-raised-button (click)="modifyAnimal(animal)">Modifier</button>
            <button class="{{animal.numero}}" type="button" mat-raised-button (click)="removeAnimal(animal)">Supprimer</button>
        </tr>
      </tbody>
  </table>
