
<div id="animal" style="text-align: left">
    <h1> Animals</h1>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      <mat-form-field style="list-style: none;">

        numero : A<input matInput type="number" maxlength="5" #animalNo >

        clinique : <mat-select #animalClinique (change)="">
          <mat-option *ngFor="let clinique of cliniques">{{clinique.numero}}</mat-option>
        </mat-select>
        proprietaire : <mat-select #animalProprietaire >
          <mat-option *ngFor="let proprietaire of proprietaires" >{{proprietaire.numero}}</mat-option>
        </mat-select>
        nom : <input matInput  maxlength="10" #animalNom matInput>
        type : <input matInput maxlength="10" #animalType>
        description : <input matInput  #animalDescription>
        etat actuel : <mat-select  #animalEtatActuel >
          <mat-option value="vivant">vivant</mat-option>
          <mat-option value="decede">decede</mat-option>
        </mat-select>>
        date de naissance : <input matInput type="date" #animalDateNaissance>
        date d'inscription : <input matInput  type="date"form-control col-md-4" #animalDateInscription >
      <button type="button" (click)="insertAnimal(animalNo.value,
                                                                              animalClinique.value,
                                                                              animalProprietaire.value,
                                                                              animalNom.value,
                                                                              animalType.value,
                                                                              animalDescription.value,
                                                                              animalEtatActuel.value,
                                                                              animalDateNaissance.value,
                                                                              animalDateInscription.value)" mat-raised-button> Add Animal</button>
            <button (click)="closeForm()" mat-raised-button>
              Cancel
            </button>
          
      </mat-form-field>
     
    </div>
    
  