<div id="animal">
  <h1> Formulaire de Modification d'animal </h1>

  <form>
    <label for="numero">Numero de l'animal : </label>
    <div type="number" name="numero" id="numero" (change)="onChange()">{{animal.numero}}</div>
    <br>
    <label for="cliniqueNumero">Numero de la clinique : </label>
    <div name="cliniqueNumero" id="cliniqueNumero">{{animal.cliniqueNumero}}</div>
        
    <br>
    <label for="proprietaireNumero">Entrez le numero du proprietaire : </label>
    <select name="proprietaireNumero" id="proprietaireNumero" [(ngModel)]="animal.proprietaireNumero">
      <option *ngFor="let proprietaire of proprietaires" value={{animal.proprietaireNumero}}>{{animal.proprietaireNumero}}</option>
    </select>
    <br>
    <label for="nom">Entrez le nom de l'animal : </label>
    <input type="text" name="nom" id="nom"[(ngModel)]="animal.nom">
    <br>
    <label for="type">Entrez le type d'animal : </label>
    <input type="text" name="type" id="type"[(ngModel)]="animal.type">
    <br>
    <label for="description">Entrez une description de l'animal : </label>
    <textarea name="description" id="description" cols="70" rows="5" [(ngModel)]="animal.description"></textarea>
    <br>
    <label>Entrez l'etat de l'animal : </label>
    <input type="radio" name="vivant" value="Vivant" name="etat" [(ngModel)]="animal.etat"> Vivant
    <input type="radio" name="decede" value="Decede" name="etat"> Decede <br>
    <br>
    <label for="dateNaissance">Entrez la date de naissance de l'animal : </label>
    <input type="date" name="dateNaissance" id="dateNaissance" [(ngModel)]="animal.dateNaissance">
    <br>
    <label for="dateInscription">Entrez la date d'inscription de l'animal</label>
    <input type="date" name="dateInscription" id="dateInscription" [(ngModel)]="animal.dateInscription">
    <br>
    <button type="submit" (click)="onChange()">Modifier l'animal</button>
    <button (click)="fermer()">Annuler</button>

  </form>

</div>
