thead {
    font-size: 90%;
    color: #6153CC;
  }
  
  td {
    border: none;
  }
  
  tr {
    border-bottom: 1px solid #21897E;
  }
  
  table {
    /* background-color: #6153CC; */
    border-radius: 10px;
    margin-top: 3%;
  }
  
  #traitements, #infoTraitements {
    top: 10%;
    left: 40%;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 80%;
  }
  
  #cost {
    color: #21897E;
  }

  #name {
    color: #F61067;
  }