<div id="traitements">
    <h1> Traitements</h1>
      <h2>Liste de traitements de <span id="name">{{name}}</span>
        <br>
        <span id="cost"> Cout total: {{cout}} $</span>
      </h2>
     <div #infoTraitements>
        <table width="700">
            <thead>
                <tr>
                    <td>Numero d'examen</td>
                    <td>Numero du traitement</td>
                    <td>Quantite du traitement</td>
                    <td>Description du traitement</td>
                    <td>Date de debut du traitement</td>
                    <td>Date de debut du traitement</td>
                    <td>Cout du traitement</td>
                  </tr>
            </thead>
            <tbody *ngFor="let prescription of prescriptions">
              <tr>
                <td> {{prescription.numeroExamen}}</td>
                <td> {{prescription.numero}}</td>
                <td> {{prescription.qteTraitement}}</td>
                <td> {{prescription.description}}</td>
                <td> {{prescription.dateFin}}</td>
                <td> {{prescription.dateDebut}}</td>
                <td> {{prescription.cout}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>