<!--The content below is only a placeholder and can be replaced.



<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">INF3710-TP5</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/animal">Animaux</a>   
        <a class="nav-item nav-link active" routerLink="/traitement">Traitements</a>
        <a class="nav-item nav-link active" routerLink="/facture">Facturation</a>
        <a class="nav-item nav-link active" routerLink="/animal">Fonctionnalite non triviale</a>

      </div>
    </div>
</nav>
-->
<div style="text-align:center">
<div>
  <h1>Bienvenue a VetoSansFrontiere!</h1>
  <button class="active" (click)="accederAjouter()"mat-raised-button style="margin:5px;">Ajouter le dossier d'un animal</button>
  <button (click)="accederDossiers()" mat-raised-button style="margin:5px;">Acceder aux dossier d'un animal</button>
  <!--<button type="button" class="btn btn-danger" (click) ="createDB()">Create Database</button>-->
</div>

<router-outlet></router-outlet>




