#error{
    color: red;
}

#hts{
    margin-top: 10px;
    margin-bottom: 10px;
}

#ht{
    margin-top: 20px;
}
.title {
    color: red;
}

#app {
    background-color: #266DD3;
    text-align: center;
}

button {
    background-color: #B1BDCE;
}

button:hover {
    background-color: #808A99;
}