<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">INF3710-TP5</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/animal">Ajouter ou modifier un animal</a>
        <a class="nav-item nav-link active" routerLink="/animalSupression">Supprimer un animal</a>       
        <a class="nav-item nav-link active" routerLink="/traitement">Rechercher Traitements par animal</a>
        <a class="nav-item nav-link active" routerLink="/rechercheNom">Rechercher animal par nom</a>
        <a class="nav-item nav-link active" routerLink="/facture">Obtenir facturation</a>
        <a class="nav-item nav-link active" routerLink="/animalSupression">Fonctionnalite non triviale</a>

      </div>
    </div>
</nav>

<div style="text-align:center">
<div *ngIf="route == ''">
  <!--<button type="button" class="btn btn-danger" (click) ="createDB()">Create Database</button>-->
</div>

<router-outlet></router-outlet>


<div id="ht" style="text-align:center" *ngIf="route">
  <button type="button" class="btn btn-primary" (click)="getAnimals()">Get Animals</button>
  <table id ="ht" align="center" border="1" width="350">
    <thead>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td> {{animal.numero}}</td>
        <td> {{animal.proprietaireNumero}}</td>
        <td> {{animal.cliniqueNumero}}</td>
        <td> {{animal.nom}}</td>
        <td> {{animal.type}}</td>
        <td> {{animal.description}}</td>
        <td> {{animal.etatActual}}</td>
        <td> {{animal.dateNaissance}}</td>
        <td> {{animal.dateInscription}}</td>
      </tr>
    </tbody>
  </table>
</div>


